* {
    margin: 0;
    padding: 0;
}
body {
    color: var(--text-color);
}
:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(
        45deg,
        #9b34ef 0%,
        #490cb0 20%,
        transparent 50%
    );
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(
        90deg,
        #5516ba,
        rgba(255, 0, 229, 0.5) 80%
    );
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
}
/* Custom Scroll */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: #020228b4;
    padding: 12px;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 10rem;
    margin-left: 10px;
}
.logohbo {
    width: 45%;
}
.login {
    width: 50%;
    text-align: right;
}
.login a {
    margin-right: 15px;
    text-decoration: none;
    color: white;
    font-size: 12px;
}
.login a:hover {
    color: #b535f6;
}
.login .assine {
    padding: 8px 26px;
    border-radius: 20px;
    background-color: #b535f6;
    font-size: 14px;
}
.login .assine:hover {
    background-color: white;
    color: #000;
}
.container {
    width: 100%;
    height: 70vh;
    background-image: url(img/background-movies-series.png);
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: fill;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    clear: both;
}

form {
    width: 55%;
    height: auto;
    background-color: #758fd623;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    border-radius: 20px;
    color: white;
    box-sizing: border-box;
}
label {
    color: #fff;
    font-size: 1rem;
    font-weight: normal;
    font-family: "Raleway", sans-serif;
    padding: 50px 0 10px 0;
}
h2 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    text-align: center;
}
.enviar {
    width: 20%;
    color: white;
    display: inline;
}

form input {
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
    background-color: #ffffff00;
    border: 1px solid rgb(245, 239, 239);
}
.login__actions {
    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.login__actions button {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 9px;
    background-color: #490cb0;
    color: white;
    width: 24vh;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
}
.login__actions button:hover {
    background: var(--primary-color);
    cursor: pointer;
    border-color: var(--tertiary-color);
    border: 1px solid rgb(218, 8, 218);
}
.login__actions a {
    color: #fff;
    font-size: 1.1rem;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    margin-left: 50px;
    padding-top: 10px;
}
.login__actions a:hover {
    color: #ff00e5;
}
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    padding-bottom: 15px;
    margin-top: 30px;
}

footer p {
    color: #fff;
    font-size: 0.7rem;
    font-weight: normal;
    font-family: "Quicksand", sans-serif;
    padding-bottom: 50px;
    padding-top: 15px;
}
.footer a {
    margin-right: 35px;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: normal;
    font-family: "Quicksand", sans-serif;
}
.footer a:hover {
    color: #ff00e5;
}
.redes-socias img {
    margin-right: 35px;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
    form {
        width: 100%;
        padding: 10px;
    }
}
@media screen and (min-width: 300px) and (max-width: 768px) {
    .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        position: relative;
        padding: 60px;
        margin-bottom: 40px;
        box-sizing: border-box;
    }
    .logohbo {
        width: 60%;
        box-sizing: border-box;
    }
    .logohbo img {
        width: 70px;
    }
    .login {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px 0px 10px 30px;
    }
    .assine {
        width: 20vh;
        color: #fff;
        font-size: 1rem;
        font-family: "Raleway", sans-serif;
    }
}
@media screen and (min-width: 300px) and (max-width: 768px) {
    .logohbo {
        width: 100%;
    }
}
@media screen and (min-width: 300px) and (max-width: 768px) {
    .login {
        width: 100%;
    }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    footer {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
}
@media screen and (min-width: 300px) and (max-width: 768px) {
    .footer a {
        font-size: 0.8rem;
    }
}
@media screen and (min-width: 300px) and (max-width: 768px) {
    .redes-socias {
        margin: 0;
        padding-bottom: 20px;
    }
}
@media screen and (min-width: 300px) and (max-width: 768px) {
    .login .assine {
        width: 30vh;
        text-align: center;
        color: #fff;
        font-size: 1rem;
        font-family: "Raleway", sans-serif;
    }
}
@media screen and (min-width: 300px) and (max-width: 768px) {
    .login a {
        width: 30vh;
        margin-bottom: 10px;
        text-align: center;
        color: #fff;
        font-size: 1rem;
        font-family: "Raleway", sans-serif;
    }
}
@media screen and (min-width: 300px) and (max-width: 768px) {
    .login__actions {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width: 300px) and (max-width: 768px) {
    .login__actions a {
        color: #fff;
        font-size: 13px;
        font-family: "Raleway", sans-serif;

    }
}
