.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}
.logohbo {
    width: 30%;
    box-sizing: border-box;
}
.logohbo img {
    width: 90px;
}
.login {
    box-sizing: border-box;
    width: 70%;
}
.header-content {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
